<form novalidate
      autocomplete="off"
      [formGroup]="boxSearchForm">
  <div class="form-group">
    <label for="searchProviderId">Buscar caja</label>
    <div class="input-group mb-3">
      <input type="text"
             id="searchProviderId"
             class="form-control form-control-sm"
             placeholder="Buscar caja"
             [class.is-invalid]="searchFailed"
             [(ngModel)]="model"
             [ngbTypeahead]="search"
             [resultFormatter]="resFormatter"
             [inputFormatter]="inFormatter"
             (selectItem)="selectedItem($event)"
             formControlName="box">
      <div class="input-group-append">
        <button type="button"
                class="btn btn-outline-secondary btn-sm"
                [routerLink]="['/layout/materials/addMaterial']">
          <i class="fas fa-plus"
             ngbTooltip="Añadir caja"></i>
        </button>
      </div>
    </div>
    <div class="small" *ngIf="searching">Buscando...</div>
    <div class="text-danger small" *ngIf="searchFailed">No encontrado.</div>
  </div>
  <div *ngIf="box.invalid && (box.dirty || box.touched)">
    <div class="text-danger small" *ngIf="box.errors.required">Requerido.</div>
  </div>
</form>






