<form novalidate
      autocomplete="off"
      [formGroup]="orderForm">
  <div class="form row">
    <div class="col-sm-12 mb-3">
      <div class="card">
        <div class="card-header">Nota Orden:&nbsp;&nbsp;</div>
        <div class="card-body">
          <div class="row">
            <!-- AUTOCOMPLETE -->
            <div class="form-group col-sm-3">
              <app-company-search></app-company-search>
            </div>
            <!--COTIZACIÓN / QUOTATION-->
            <div class="form-group col-sm-1">
              <label for="quotationId">Cotización</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="quotationId"
                     placeholder="Cotización"
                     [ngClass]="{'is-invalid': quotation.invalid && (quotation.dirty || quotation.touched)}"
                     formControlName="quotation">
              <div *ngIf="quotation.invalid && (quotation.dirty || quotation.touched)">
                <div class="text-danger small" *ngIf="quotation.errors.required">Requerido.</div>
              </div>
            </div>
            <!--CONSECUTIVO / CONSECUTIVE-->
            <div class="form-group col-sm-1">
              <label for="consecutiveId">Consecutivo</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="consecutiveId"
                     placeholder="Consecutivo"
                     [ngClass]="{'is-invalid': consecutive.invalid && (consecutive.dirty || consecutive.touched)}"
                     formControlName="consecutive">
              <div *ngIf="consecutive.invalid && (consecutive.dirty || consecutive.touched)">
                <div class="text-danger small" *ngIf="consecutive.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- FECHA ORDEN-->
            <div class="form-group col-sm-2">
              <label for="orderDateId">Fecha Orden</label>
              <input type="date"
                     class="form-control form-control-sm"
                     id="orderDateId"
                     placeholder="Fecha Orden"
                     [ngClass]="{'is-invalid': orderDate.invalid &&
                      (orderDate.dirty || orderDate.touched)}"
                     formControlName="consecutive">
              <div *ngIf="orderDate.invalid && (orderDate.dirty || orderDate.touched)">
                <div class="text-danger small" *ngIf="orderDate.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- FECHA ENTREGA-->
            <div class="form-group col-sm-2">
              <label for="deliverDateId">Fecha Entrega</label>
              <input type="date"
                     class="form-control form-control-sm"
                     id="deliverDateId"
                     placeholder="Fecha Orden"
                     [ngClass]="{'is-invalid': deliverDate.invalid &&
                      (deliverDate.dirty || deliverDate.touched)}"
                     formControlName="consecutive">
              <div *ngIf="deliverDate.invalid && (orderDdeliverDateate.dirty || deliverDate.touched)">
                <div class="text-danger small" *ngIf="deliverDate.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- FECHA CTE:-->
            <div class="form-group col-sm-2">
              <label for="customerDateId">Fecha Cte.</label>
              <input type="date"
                     class="form-control form-control-sm"
                     id="customerDateId"
                     placeholder="Fecha Orden"
                     [ngClass]="{'is-invalid': customerDate.invalid &&
                      (customerDate.dirty || customerDate.touched)}"
                     formControlName="consecutive">
              <div *ngIf="deliverDate.invalid &&
               (customerDate.dirty || customerDate.touched)">
                <div class="text-danger small" *ngIf="customerDate.errors.required">Requerido.</div>
              </div>
            </div>


            <!-- AUTOCOMPLETE PROVEEDORES-->
            <div class="form-group col-sm-3">
              <app-suppliers-search></app-suppliers-search>
            </div>
            <div class="form-group col-sm-3">
              <label for="customerOrderId">Condiciones de Pago</label>
              <input type="text"
                     class="form-control form-control-sm"
                     disabled="true"
                     id="condPagoId">
            </div>
            <!--PEDIDO CTE / CUSTOMER ORDER -->
            <div class="form-group col-sm-3">
              <label for="customerOrderId">Pedido cte</label>
              <input type="text"
                     class="form-control form-control-sm"
                     id="customerOrderId"
                     placeholder="Pedido cte"
                     [ngClass]="{'is-invalid': customerOrder.invalid && (customerOrder.dirty || customerOrder.touched)}"
                     formControlName="customerOrder">
              <div *ngIf="customerOrder.invalid && (customerOrder.dirty || customerOrder.touched)">
                <div class="text-danger small" *ngIf="customerOrder.errors.required">Requerido.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--BOTTON-->
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="orderForm.invalid"
          (click)="orderAction()">
    Siguiente
  </button>
</form>
<!--<pre *ngIf="orderForm">{{orderForm|json}}</pre>-->
