<form novalidate
      autocomplete="off"
      [formGroup]="orderForm">
  <div class="form row">
    <div class="col-sm-12 mb-3">
      <div class="card">
        <div class="card-header">Nota Orden:&nbsp;&nbsp;</div>
        <div class="card-body">
          <div class="row">
            <!--SELECT: TYPE / TIPO-->
            <div class="form-group col-sm-3">
              <label for="typeId">Tipo</label>
              <select class="form-control custom-select custom-select-sm"
                      id="typeId"
                      [ngClass]="{'is-invalid': type.invalid && (type.dirty || type.touched)}"
                      formControlName="type">
                <option value="">Selecciona</option>
                <option value="1">Corrugado Sencillo</option>
                <option value="2">Doble Corrugado</option>
                <option value="3">Micro Corrugado</option>
              </select>
              <div *ngIf="type.invalid && (type.dirty || type.touched)">
                <div class="text-danger small" *ngIf="type.errors.required">Requerido.</div>
              </div>
            </div>
            <!--SELECT: COLOR / COLOR-->
            <div class="form-group col-sm-3">
              <label for="colorId">Color</label>
              <select class="form-control custom-select custom-select-sm"
                      id="colorId"
                      [ngClass]="{'is-invalid': color.invalid && (color.dirty || color.touched)}"
                      formControlName="color">
                <option value="">Selecciona</option>
                <option value="1">KRAFT</option>
                <option value="2">L. BCO.</option>
              </select>
              <div *ngIf="color.invalid && (color.dirty || color.touched)">
                <div class="text-danger small" *ngIf="color.errors.required">Requerido.</div>
              </div>
            </div>
            <!--SELECT: STRENGTH / RESISTENCIA-->
            <div class="form-group col-sm-3">
              <label for="strengthId">Resistencia</label>
              <select class="form-control custom-select custom-select-sm"
                      id="strengthId"
                      [ngClass]="{'is-invalid': strength.invalid && (strength.dirty || strength.touched)}"
                      formControlName="strength">
                <option value="">Selecciona</option>
                <option value="1">S/G</option>
                <option value="2">7 KGS.</option>
                <option value="3">9 KGS.</option>
                <option value="4">11 KGS.</option>
                <option value="5">12.5 KGS.</option>
              </select>
              <div *ngIf="strength.invalid && (strength.dirty || strength.touched)">
                <div class="text-danger small" *ngIf="strength.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- AUTOCOMPLETE: Buscar compañia-->
            <div class="form-group col-sm-3">
              <app-company-search></app-company-search>
            </div>
            <!--COTIZACIÓN / QUOTATION-->
            <div class="form-group col-sm-1">
              <label for="quotationId">Cotización</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="quotationId"
                     placeholder="Cotización"
                     [ngClass]="{'is-invalid': quotation.invalid && (quotation.dirty || quotation.touched)}"
                     formControlName="quotation">
              <div *ngIf="quotation.invalid && (quotation.dirty || quotation.touched)">
                <div class="text-danger small" *ngIf="quotation.errors.required">Requerido.</div>
              </div>
            </div>
            <!--CONSECUTIVO / CONSECUTIVE-->
            <div class="form-group col-sm-1">
              <label for="consecutiveId">Consecutivo</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="consecutiveId"
                     placeholder="Consecutivo"
                     [ngClass]="{'is-invalid': consecutive.invalid && (consecutive.dirty || consecutive.touched)}"
                     formControlName="consecutive">
              <div *ngIf="consecutive.invalid && (consecutive.dirty || consecutive.touched)">
                <div class="text-danger small" *ngIf="consecutive.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- FECHA ORDEN-->
            <div class="form-group col-sm-2">
              <label for="orderDateId">Fecha Orden</label>
              <input type="date"
                     class="form-control form-control-sm"
                     id="orderDateId"
                     placeholder="Fecha Orden"
                     [ngClass]="{'is-invalid': orderDate.invalid &&
                      (orderDate.dirty || orderDate.touched)}"
                     formControlName="consecutive">
              <div *ngIf="orderDate.invalid && (orderDate.dirty || orderDate.touched)">
                <div class="text-danger small" *ngIf="orderDate.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- FECHA ENTREGA-->
            <div class="form-group col-sm-2">
              <label for="deliverDateId">Fecha Entrega</label>
              <input type="date"
                     class="form-control form-control-sm"
                     id="deliverDateId"
                     placeholder="Fecha Orden"
                     [ngClass]="{'is-invalid': deliverDate.invalid &&
                      (deliverDate.dirty || deliverDate.touched)}"
                     formControlName="consecutive">
              <div *ngIf="deliverDate.invalid && (deliverDate.dirty || deliverDate.touched)">
                <div class="text-danger small" *ngIf="deliverDate.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- FECHA CTE:-->
            <div class="form-group col-sm-2">
              <label for="customerDateId">Fecha Cte.</label>
              <input type="date"
                     class="form-control form-control-sm"
                     id="customerDateId"
                     placeholder="Fecha Orden"
                     [ngClass]="{'is-invalid': customerDate.invalid &&
                      (customerDate.dirty || customerDate.touched)}"
                     formControlName="consecutive">
              <div *ngIf="deliverDate.invalid &&
               (customerDate.dirty || customerDate.touched)">
                <div class="text-danger small" *ngIf="customerDate.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- AUTOCOMPLETE PROVEEDORES-->
            <div class="form-group col-sm-3">
              <app-suppliers-search></app-suppliers-search>
            </div>
            <div class="form-group col-sm-3">
              <label for="customerOrderId">Condiciones de Pago</label>
              <input type="text"
                     class="form-control form-control-sm"
                     disabled="true"
                     id="condPagoId">
            </div>
            <!--PEDIDO CTE / CUSTOMER ORDER -->
            <div class="form-group col-sm-3">
              <label for="customerOrderId">Pedido cte</label>
              <input type="text"
                     class="form-control form-control-sm"
                     id="customerOrderId"
                     placeholder="Pedido cte"
                     [ngClass]="{'is-invalid': customerOrder.invalid && (customerOrder.dirty || customerOrder.touched)}"
                     formControlName="customerOrder">
              <div *ngIf="customerOrder.invalid && (customerOrder.dirty || customerOrder.touched)">
                <div class="text-danger small" *ngIf="customerOrder.errors.required">Requerido.</div>
              </div>
            </div>
            <div class="form-group col-sm-3">
              <app-clients-search></app-clients-search>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--BOTTON-->
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="orderForm.invalid"
          (click)="orderAction()">
    Siguiente
  </button>
</form>
<!--<pre *ngIf="orderForm">{{orderForm|json}}</pre>-->
