<div class="card">
  <div class="card-header">
    Empleados
  </div>
  <div class="card-body">
    <app-employeess-search></app-employeess-search>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Teléfono</th>
          <th scope="col">sexo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employee of employees$ | async">
          <th scope="row">1</th>
          <td>{{employee.names}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.mobile}}</td>
          <td>{{employee.sex}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




