<div class="form-group">
  <label for="searchMaterialId">Buscar material</label>
  <div class="input-group mb-3">
    <input type="text"
           id="searchMaterialId"
           class="form-control form-control-sm"
           placeholder="Buscar material"
           [class.is-invalid]="searchFailed"
           [(ngModel)]="model"
           [ngbTypeahead]="search"
           [resultFormatter]="resFormatter"
           [inputFormatter]="inFormatter"
           (selectItem)="selectedItem($event)">
    <div class="input-group-append">
      <button type="button"
              class="btn btn-outline-secondary btn-sm"
              [routerLink]="['/layout/materials/add']">
        <i class="fas fa-plus" ngbTooltip="Añadir material"></i>
      </button>
    </div>
  </div>
  <div class="small" *ngIf="searching">Buscando...</div>
  <div class="text-danger small" *ngIf="searchFailed">No encontrado.</div>
</div>
