<form novalidate
      autocomplete="off"
      [formGroup]="materialsForm">

  <!--PANEL ARTÍCULO-->
  <div class="form row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">Artículo</div>
        <div class="card-body">
          <div class="row">
            <!--CLAVE  KEY-->
            <div class="form-group col-sm-3">
              <label for="keyId">Clave</label>
              <input type="text"
                     class="form-control form-control-sm"
                     id="keyId"
                     placeholder="Clave"
                     [ngClass]="{'border border-danger danger-focus': key.invalid && (key.dirty || key.touched)}"
                     formControlName="key">
              <div *ngIf="key.invalid && (key.dirty || key.touched)">
                <div class="text-danger small" *ngIf="key.errors.required">Requerido.</div>
                <div class="text-danger small" *ngIf="key.errors.pattern">No caracteres especiales</div>
                <div class="text-danger small" *ngIf="key.errors.minlength">Mínimo {{charactersMinName}} caracteres.</div>
                <div class="text-danger small" *ngIf="key.errors.maxlength">Máximo {{charactersMaxName}} caracteres.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!--PANEL MEDIDAS Y ESPEFÍFICACIONES DE MATERIAL-->
  <div class="form-row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Medidas</div>
        <div class="card-body">
          <!--<h5 class="card-title"></h5>
          <p class="card-text"></p>-->
          <div class="row">
            <!--[TÍTULO] SECCIÓN MEDIDAS DE CAJA-->
            <div class="col-sm-12">
              <h6>Medidas de caja</h6>
            </div>
            <!--LARGO / LONG-->
            <div class="form-group col-md-4">
              <label for="longId">Largo</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="longId"
                     placeholder="Largo"
                     [ngClass]="{'border border-danger danger-focus': long.invalid && (long.dirty || long.touched)}"
                     formControlName="long">
              <div *ngIf="long.invalid && (long.dirty || long.touched)">
                <div class="text-danger small" *ngIf="long.errors.required">Requerido.</div>
                <div class="text-danger small" *ngIf="long.errors.max">máximo {{maxSize}} cm.</div>
              </div>
            </div>
            <!--ANCHO / WIDTH-->
            <div class="form-group col-md-4">
              <label for="widthId">Ancho</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="widthId"
                     placeholder="Ancho"
                     [ngClass]="{'border border-danger danger-focus': width.invalid && (width.dirty || width.touched)}"
                     formControlName="width">
              <div *ngIf="width.invalid && (width.dirty || width.touched)">
                <div class="text-danger small" *ngIf="width.errors.required">Requerido.</div>
                <div class="text-danger small" *ngIf="width.errors.min">mínimo {{minSize}} cm.</div>
                <div class="text-danger small" *ngIf="width.errors.max">máximo {{maxSize}} cm.</div>
              </div>
            </div>
            <!--ALTO / height-->
            <div class="form-group col-md-4">
              <label for="heightId">Alto</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="heightId"
                     placeholder="Alto"
                     [ngClass]="{'border border-danger danger-focus': height.invalid && (height.dirty || height.touched)}"
                     formControlName="height">
              <div *ngIf="height.invalid && (height.dirty || height.touched)">
                <div class="text-danger small" *ngIf="height.errors.required">Requerido.</div>
                <div class="text-danger small" *ngIf="height.errors.min">mínimo {{minSize}} cm.</div>
                <div class="text-danger small" *ngIf="height.errors.max">máximo {{maxSize}} cm.</div>
              </div>
            </div>


            <!--[TÍTULO] DIVISIÓN LARGA-->
            <div class="col-sm-12">
              <h6>División larga</h6>
            </div>
            <!--LARGO / LONG-->
            <div class="form-group col-md-4">
              <label for="longId">Largo</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="longId"
                     placeholder="Largo"
                     [ngClass]="{'border border-danger danger-focus': long.invalid && (long.dirty || long.touched)}"
                     formControlName="long">
              <div *ngIf="long.invalid && (long.dirty || long.touched)">
                <div class="text-danger small" *ngIf="long.errors.required">Requerido.</div>
                <div class="text-danger small" *ngIf="long.errors.max">máximo {{maxSize}} cm.</div>
              </div>
            </div>
            <!--ANCHO / WIDTH-->
            <div class="form-group col-md-4">
              <label for="widthId">Ancho</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="widthId"
                     placeholder="Ancho"
                     [ngClass]="{'border border-danger danger-focus': width.invalid && (width.dirty || width.touched)}"
                     formControlName="width">
              <div *ngIf="width.invalid && (width.dirty || width.touched)">
                <div class="text-danger small" *ngIf="width.errors.required">Requerido.</div>
                <div class="text-danger small" *ngIf="width.errors.min">mínimo {{minSize}} cm.</div>
                <div class="text-danger small" *ngIf="width.errors.max">máximo {{maxSize}} cm.</div>
              </div>
            </div>
            <!--RANURAS / SLOTS-->
            <div class="form-group col-md-4">
              <label for="slotsId">Ranuras</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="slotsId"
                     placeholder="Ranuras"
                     [ngClass]="{'border border-danger danger-focus': slots.invalid && (slots.dirty || slots.touched)}"
                     formControlName="slots">
              <div *ngIf="slots.invalid && (slots.dirty || slots.touched)">
                <div class="text-danger small" *ngIf="slots.errors.required">Requerido.</div>
                <div class="text-danger small" *ngIf="slots.errors.min">mínimo {{minSize}} cm.</div>
                <div class="text-danger small" *ngIf="slots.errors.max">máximo {{maxSize}} cm.</div>
              </div>
            </div>


            <!--[TÍTULO] DIVISIÓN LARGA-->
            <div class="col-sm-12">
              <h6>División corta</h6>
            </div>
            <!--LARGO / LONG-->
            <div class="form-group col-md-4">
              <label for="longId">Largo</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="longId"
                     placeholder="Largo"
                     [ngClass]="{'border border-danger danger-focus': long.invalid && (long.dirty || long.touched)}"
                     formControlName="long">
              <div *ngIf="long.invalid && (long.dirty || long.touched)">
                <div class="text-danger small" *ngIf="long.errors.required">Requerido.</div>
                <div class="text-danger small" *ngIf="long.errors.max">máximo {{maxSize}} cm.</div>
              </div>
            </div>
            <!--ANCHO / WIDTH-->
            <div class="form-group col-md-4">
              <label for="widthId">Ancho</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="widthId"
                     placeholder="Ancho"
                     [ngClass]="{'border border-danger danger-focus': width.invalid && (width.dirty || width.touched)}"
                     formControlName="width">
              <div *ngIf="width.invalid && (width.dirty || width.touched)">
                <div class="text-danger small" *ngIf="width.errors.required">Requerido.</div>
                <div class="text-danger small" *ngIf="width.errors.min">mínimo {{minSize}} cm.</div>
                <div class="text-danger small" *ngIf="width.errors.max">máximo {{maxSize}} cm.</div>
              </div>
            </div>
            <!--RANURAS / SLOTS-->
            <div class="form-group col-md-4">
              <label for="slotsShortDivisionId">Ranuras</label>
              <input type="number"
                     class="form-control form-control-sm"
                     id="slotsShortDivisionId"
                     placeholder="Ranuras"
                     [ngClass]="{'border border-danger danger-focus': slots.invalid && (slots.dirty || slots.touched)}"
                     formControlName="slots">
              <div *ngIf="slots.invalid && (slots.dirty || slots.touched)">
                <div class="text-danger small" *ngIf="slots.errors.required">Requerido.</div>
                <div class="text-danger small" *ngIf="slots.errors.min">mínimo {{minSize}} cm.</div>
                <div class="text-danger small" *ngIf="slots.errors.max">máximo {{maxSize}} cm.</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--ESPEFIFICACIONES DE MATERIAL-->
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">Espefificaciones de material</div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid, aperiam dignissimos dolor error facere fuga harum hic illum laboriosam maiores nesciunt perferendis quaerat quisquam ratione rerum tenetur velit voluptates!</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--BOTTON-->
  <br>
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="materialsForm.invalid"
          (click)="materialAction()">
    Siguiente
  </button>

</form>
<!--<pre *ngIf="materialsForm">{{materialsForm|json}}</pre>-->
