<form novalidate
      autocomplete="off"
      [formGroup]="cardboardForm">
  <div class="row">
    <!--SELECT: TYPE / TIPO-->
    <div class="form-group col-sm-4">
      <label for="typeId">Tipo</label>
      <select class="form-control custom-select custom-select-sm"
              id="typeId"
              [ngClass]="{'is-invalid': type.invalid && (type.dirty || type.touched)}"
              formControlName="type">
        <option value="">Selecciona</option>
        <option value="1">Corrugado Sencillo</option>
        <option value="2">Doble Corrugado</option>
        <option value="3">Micro Corrugado</option>
      </select>
      <div *ngIf="type.invalid && (type.dirty || type.touched)">
        <div class="text-danger small" *ngIf="type.errors.required">Requerido.</div>
      </div>
    </div>
    <!--SELECT: COLOR / COLOR-->
    <div class="form-group col-sm-4" *ngIf="!type.invalid">
      <label for="colorId">Color</label>
      <select class="form-control custom-select custom-select-sm"
              id="colorId"
              [ngClass]="{'is-invalid': color.invalid && (color.dirty || color.touched)}"
              formControlName="color">
        <option value="">Selecciona</option>
        <option value="1">KRAFT</option>
        <option value="2">L. BCO.</option>
      </select>
      <div *ngIf="color.invalid && (color.dirty || color.touched)">
        <div class="text-danger small" *ngIf="color.errors.required">Requerido.</div>
      </div>
    </div>
    <!--SELECT: STRENGTH / RESISTENCIA-->
    <div class="form-group col-sm-4"  *ngIf="!color.invalid && !type.invalid">
      <label for="strengthId">Resistencia</label>
      <select class="form-control custom-select custom-select-sm"
              id="strengthId"
              [ngClass]="{'is-invalid': strength.invalid && (strength.dirty || strength.touched)}"
              formControlName="strength">
        <option value="">Selecciona</option>
        <option value="1">S/G</option>
        <option value="2">7 KGS.</option>
        <option value="3">9 KGS.</option>
        <option value="4">11 KGS.</option>
        <option value="5">12.5 KGS.</option>
      </select>
      <div *ngIf="strength.invalid && (strength.dirty || strength.touched)">
        <div class="text-danger small" *ngIf="strength.errors.required">Requerido.</div>
      </div>
    </div>
  </div>
</form>
<button class="btn btn-danger" (click)="emiterDePrueba()">EMITER DE PRUEBA</button>
