<form novalidate
      autocomplete="off"
      [formGroup]="parentFormGroup">
  <div class="form-group auto-complete">
    <label for="searchTypeId">Tipo de cartón</label>
    <div class="input-group">
      <input id="searchTypeId" type="text" class="form-control form-control-sm" placeholder="Buscar"
             [ngClass]="{'is-invalid': _type.invalid && (_type.dirty || _type.touched)}"
             [(ngModel)]="model"
             [ngbTypeahead]="search"
             [resultFormatter]="resFormatter"
             [inputFormatter]="inFormatter"
             (selectItem)="selectedItem($event)"
             (blur)="fn_blur();"
             formControlName="type">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-secondary btn-sm" ngbTooltip="Nuevo"
                [routerLink]="['/layout/materials/add']">
          <i class="fas fa-plus"></i>
        </button>
      </div>
    </div>
    <div class="small searching" *ngIf="searching">Buscando...</div>
    <div class="text-danger small notFound" *ngIf="searchFailed">No encontrado.</div>
    <div *ngIf="_type.invalid && (_type.dirty || _type.touched)">
      <div class="text-danger small" *ngIf="_type.errors.required">Requerido.</div>
    </div>
  </div>
</form>
