<form novalidate
      autocomplete="off"
      [formGroup]="directionsForm">
  <div class="form-row">
    <!--CALLE / STREET-->
    <div class="form-group col-md-6">
      <label for="streetId">Calle</label>
      <input type="text"
             class="form-control form-control-sm"
             id="streetId"
             placeholder="Calle"
             [ngClass]="{'is-invalid': street.invalid && (street.dirty || street.touched)}"
             formControlName="street">
      <div *ngIf="street.invalid && (street.dirty || street.touched)">
        <div class="text-danger small" *ngIf="street.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="street.errors.pattern">No caracteres especiales</div>
        <div class="text-danger small" *ngIf="street.errors.minlength">Mínimo {{charactersMin}} caracteres.</div>
        <div class="text-danger small" *ngIf="street.errors.maxlength">Máximo {{charactersMax}} caracteres.</div>
      </div>
    </div>
    <!--NÚMERO EXTERIOR / EXTERIOR NUMER-->
    <div class="form-group col-md-6">
      <label for="exteriorNumberId">Número exterior</label>
      <input type="text"
             class="form-control form-control-sm"
             id="exteriorNumberId"
             placeholder="Número exterior"
             [ngClass]="{'is-invalid': exteriorNumber.invalid && (exteriorNumber.dirty || exteriorNumber.touched)}"
             formControlName="exteriorNumber">
      <div *ngIf="exteriorNumber.invalid && (exteriorNumber.dirty || exteriorNumber.touched)">
        <div class="text-danger small" *ngIf="exteriorNumber.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="exteriorNumber.errors.exteriorNumber">Inválido.</div>
        <div class="text-danger small" *ngIf="exteriorNumber.errors.minlength">Mínimo {{charactersMinExteriorNumber}} caracteres.</div>
        <div class="text-danger small" *ngIf="exteriorNumber.errors.maxlength">Máximo {{charactersMaxExteriorNumber}} caracteres.</div>
      </div>
    </div>
    <!--NÚMERO INTERIOR / INTERIOR NUMER-->
    <div class="form-group col-md-6">
      <label for="interiorNumberId">Número interior</label>
      <input type="text"
             class="form-control form-control-sm"
             id="interiorNumberId"
             placeholder="Número interior"
             [ngClass]="{'is-invalid': interiorNumber.invalid && (interiorNumber.dirty || interiorNumber.touched)}"
             formControlName="interiorNumber">
      <div *ngIf="interiorNumber.invalid && (interiorNumber.dirty || interiorNumber.touched)">
        <div class="text-danger small" *ngIf="interiorNumber.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="interiorNumber.errors.interiorNumber">Inválido.</div>
        <div class="text-danger small" *ngIf="interiorNumber.errors.minlength">Mínimo {{charactersMinInteriorNumber}} caracteres.</div>
        <div class="text-danger small" *ngIf="interiorNumber.errors.maxlength">Máximo {{charactersMaxInteriorNumber}} caracteres.</div>
      </div>
    </div>
    <!--CÓDIGO POSTAL / POSTALCODE-->
    <div class="form-group col-md-6">
      <label for="postalCodeId">Código Postal</label>
      <input type="text"
             class="form-control form-control-sm"
             id="postalCodeId"
             placeholder="Código Postal"
             [ngClass]="{'is-invalid': postalCode.invalid && (postalCode.dirty || postalCode.touched)}"
             formControlName="postalCode">
      <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)">
        <div class="text-danger small" *ngIf="postalCode.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="postalCode.errors.pattern">No caracteres especiales</div>
        <div class="text-danger small" *ngIf="postalCode.errors.minlength">Mínimo {{charactersMin}} caracteres.</div>
        <div class="text-danger small" *ngIf="postalCode.errors.maxlength">Máximo {{charactersMax}} caracteres.</div>
      </div>
    </div>
    <!--COLONIA / SUBURB-->
    <div class="form-group col-md-6">
      <label for="suburbId">Colonia</label>
      <input type="text"
             class="form-control form-control-sm"
             id="suburbId"
             placeholder="Colonia"
             [ngClass]="{'is-invalid': suburb.invalid && (suburb.dirty || suburb.touched)}"
             formControlName="suburb">
      <div *ngIf="suburb.invalid && (suburb.dirty || suburb.touched)">
        <div class="text-danger small" *ngIf="suburb.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="suburb.errors.pattern">No caracteres especiales</div>
        <div class="text-danger small" *ngIf="suburb.errors.minlength">Mínimo {{charactersMin}} caracteres.</div>
        <div class="text-danger small" *ngIf="suburb.errors.maxlength">Máximo {{charactersMax}} caracteres.</div>
      </div>
    </div>
    <!--ESTADO / STATE-->
    <div class="form-group col-md-6">
      <label for="stateId">Estado</label>
      <input type="text"
             class="form-control form-control-sm"
             id="stateId"
             placeholder="Estado"
             [ngClass]="{'is-invalid': state.invalid && (state.dirty || state.touched)}"
             formControlName="state">
      <div *ngIf="state.invalid && (state.dirty || state.touched)">
        <div class="text-danger small" *ngIf="state.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="state.errors.pattern">No caracteres especiales</div>
        <div class="text-danger small" *ngIf="state.errors.minlength">Mínimo {{charactersMin}} caracteres.</div>
        <div class="text-danger small" *ngIf="state.errors.maxlength">Máximo {{charactersMax}} caracteres.</div>
      </div>
    </div>
    <!--DELEGACIÓN O MUNUCIPIO / TOWN-->
    <div class="form-group col-md-6">
      <label for="townId">Delegación / Munucipio</label>
      <input type="text"
             class="form-control form-control-sm"
             id="townId"
             placeholder="Delegación / Munucipio"
             [ngClass]="{'is-invalid': town.invalid && (town.dirty || town.touched)}"
             formControlName="town">
      <div *ngIf="town.invalid && (town.dirty || town.touched)">
        <div class="text-danger small" *ngIf="town.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="town.errors.pattern">No caracteres especiales</div>
        <div class="text-danger small" *ngIf="town.errors.minlength">Mínimo {{charactersMin}} caracteres.</div>
        <div class="text-danger small" *ngIf="town.errors.maxlength">Máximo {{charactersMax}} caracteres.</div>
      </div>
    </div>
  </div>
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="directionsForm.invalid"
          (click)="directionAction()">
    Siguiente
  </button>
</form>
<!--<pre *ngIf="directionsForm">{{directionsForm|json}}</pre>-->
