<div class="card">
  <div class="card-header">
    Clientes
  </div>
  <div class="card-body">
    <app-customers-search></app-customers-search>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers$ | async">
          <th scope="row">{{customer.code}}</th>
          <td>{{customer.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




