<form novalidate
      autocomplete="off"
      [formGroup]="orderForm">
  <div class="form row">
    <div class="col-sm-12 mb-3">
      <div class="card">
        <div class="card-header">
          <span class="font-weight-bold">Nota Orden:&nbsp;&nbsp;0123PRG82</span>
        </div>
        <div class="card-body">
          <!--[end]-->
          <div class="row">
            <!--AUTOCOMPLETE: CAJAS boxes-search-->
            <div class="form-group col-sm-3">
              <app-boxes-search
                (sendStatusForm)="recipeBoxSearchStatusForm($event)">
              </app-boxes-search>
            </div>
            <!--AUTOCOMPLETE: SUPPLIERS-->
            <div class="form-group col-sm-3">
              <app-suppliers-search
                (sendStatusForm)="recipeSupplerSearchStatusForm($event)">
              </app-suppliers-search>
            </div>
            <!--AUTOCOMPLETE: COMPANY: app-company-search-->
            <div class="form-group col-sm-3">
              <app-company-search
                (sendStatusForm)="recipeCompanySearchStatusForm($event)">
              </app-company-search>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--BOTTON-->
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="orderForm.invalid"
          (click)="orderAction()">
    Siguiente
  </button>
</form>
<!--<pre *ngIf="orderForm">{{orderForm|json}}</pre>-->


[orderForm.invalid]<br>
<pre>{{orderForm.invalid}}</pre>
[statusBoxSearchForm] <br>
<pre>{{statusBoxSearchForm|json}}</pre>
[statusSupplerSearchForm] <br>
<pre>{{statusSupplerSearchForm|json}}</pre>
[statusCompanySearchForm] <br>
<pre>{{statusCompanySearchForm|json}}</pre>


<!--
[statusCompanySearchForm] <br>
<pre>{{statusCompanySearchForm}} {{companyId}}</pre> <br>

[statusCustomersSearchForm] <br>
<pre>{{statusCustomersSearchForm}} {{customerId}}</pre> <br>

[statusPaperboardsSearchForm] <br>
<pre>{{statusPaperboardsSearchForm}} {{paperboardId}}</pre> <br>

[statusEmployeessSearchForm] <br>
<pre>{{statusEmployeessSearchForm}} {{employeeId}}</pre> <br>
-->
