<form novalidate
      autocomplete="off"
      [formGroup]="orderForm">
  <div class="form row">
    <div class="col-sm-6 mb-3">
      <div class="card">
        <div class="card-header">
          <span class="font-weight-bold">Nota Orden:&nbsp;&nbsp;0123PRG82</span>
        </div>
        <div class="card-body">
          <!--[end]-->
          <div class="row">
            <!-- AUTOCOMPLETE: Buscar compañia-->
            <div class="form-group col-sm-6">
              <app-company-search></app-company-search>
            </div>
            <!-- FECHA ORDEN-->
            <div class="form-group col-sm-6">
              <label for="orderDateId">Fecha Orden</label>
              <input type="date"
                     class="form-control form-control-sm"
                     id="orderDateId"
                     placeholder="Fecha Orden"
                     [ngClass]="{'is-invalid': orderDate.invalid &&
                      (orderDate.dirty || orderDate.touched)}"
                     formControlName="orderDate">
              <div *ngIf="orderDate.invalid && (orderDate.dirty || orderDate.touched)">
                <div class="text-danger small" *ngIf="orderDate.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- FECHA ENTREGA-->
            <div class="form-group col-sm-6">
              <label for="deliverDateId">Fecha Entrega</label>
              <input type="date"
                     class="form-control form-control-sm"
                     id="deliverDateId"
                     placeholder="Fecha Orden"
                     [ngClass]="{'is-invalid': deliverDate.invalid &&
                      (deliverDate.dirty || deliverDate.touched)}"
                     formControlName="deliverDate">
              <div *ngIf="deliverDate.invalid && (deliverDate.dirty || deliverDate.touched)">
                <div class="text-danger small" *ngIf="deliverDate.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- FECHA CTE:-->
            <div class="form-group col-sm-6">
              <label for="customerDateId">Fecha Cte.</label>
              <input type="date"
                     class="form-control form-control-sm"
                     id="customerDateId"
                     placeholder="Fecha Orden"
                     [ngClass]="{'is-invalid': customerDate.invalid &&
                      (customerDate.dirty || customerDate.touched)}"
                     formControlName="customerDate">
              <div *ngIf="deliverDate.invalid &&
               (customerDate.dirty || customerDate.touched)">
                <div class="text-danger small" *ngIf="customerDate.errors.required">Requerido.</div>
              </div>
            </div>
            <!-- AUTOCOMPLETE PROVEEDORES-->
            <div class="form-group col-sm-6">
              <!--TODO => avergiguar como importar este componente en dos módulos-->
              <!--<app-suppliers-search></app-suppliers-search>-->
            </div>
            <div class="form-group col-sm-6">
              <label for="customerOrderId">Condiciones de Pago</label>
              <input type="text"
                     class="form-control form-control-sm"
                     disabled="true"
                     id="condPagoId">
            </div>
            <div class="form-group col-sm-6">
              <!--
              TODO
              <app-clients-search></app-clients-search>
              -->
            </div>
            <!--PEDIDO CTE / CUSTOMER ORDER -->
            <div class="form-group col-sm-6">
              <label for="customerOrderId">Pedido cte</label>
              <input type="text"
                     class="form-control form-control-sm"
                     id="customerOrderId"
                     placeholder="Pedido cte"
                     [ngClass]="{'is-invalid': customerOrder.invalid && (customerOrder.dirty || customerOrder.touched)}"
                     formControlName="customerOrder">
              <div *ngIf="customerOrder.invalid && (customerOrder.dirty || customerOrder.touched)">
                <div class="text-danger small" *ngIf="customerOrder.errors.required">Requerido.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mb-3">
      <div class="card">
        <div class="card-header">
          Resistencia Orden de compra
        </div>
        <div class="card-body">
          <app-cardboard-search
            (hijoDisparaEvento)="padreCachaDisparoDelHijo($event)">
          </app-cardboard-search>
        </div>
      </div>
    </div>
  </div>
  <!--BOTTON-->
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="orderForm.invalid"
          (click)="orderAction()">
    Siguiente
  </button>
</form>
<!--<pre *ngIf="orderForm">{{orderForm|json}}</pre>-->
