<br>
<div class="card">
  <div class="card-header">
    Cotización
  </div>
  <div class="card-body">
    <form novalidate
          autocomplete="off"
          [formGroup]="budgetForm">
      <!--MEDIDAS DE LA CAJA-->
      <div class="form row">
        <div class="form-group col-sm-3">
          <app-paperboards-search
            (sendStatusForm)="recipePaperboardsSearchStatusForm($event)">
          </app-paperboards-search>
        </div>
        <div class="form-group col-sm-2">
          <label for="quantityId">Cantidad</label>
          <input type="number"
                 class="form-control form-control-sm"
                 id="quantityId"
                 placeholder="Largo"
                 [ngClass]="{'is-invalid': quantity.invalid && (quantity.dirty || quantity.touched)}"
                 formControlName="quantity">
          <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">
            <div class="text-danger small" *ngIf="quantity.errors.required">Requerido.</div>
          </div>
        </div>
        <!--LARGO / LONG-->
        <div class="form-group col-sm-1">
          <label for="largeId">Largo</label>
          <input type="number"
                 class="form-control form-control-sm"
                 id="largeId"
                 placeholder="Largo"
                 [ngClass]="{'is-invalid': large.invalid && (large.dirty || large.touched)}"
                 formControlName="large">
          <div *ngIf="large.invalid && (large.dirty || large.touched)">
            <div class="text-danger small" *ngIf="large.errors.required">Requerido.</div>
          </div>
        </div>
        <!--ANCHO / WIDTH-->
        <div class="form-group col-sm-1">
          <label for="widthId">Ancho</label>
          <input type="number"
                 class="form-control form-control-sm"
                 id="widthId"
                 placeholder="Ancho"
                 [ngClass]="{'is-invalid': width.invalid && (width.dirty || width.touched)}"
                 formControlName="width">
          <div *ngIf="width.invalid && (width.dirty || width.touched)">
            <div class="text-danger small" *ngIf="width.errors.required">Requerido.</div>
          </div>
        </div>
        <!--ALTO / high-->
        <div class="form-group col-sm-1">
          <label for="depthId">Profundidad</label>
          <input type="number"
                 class="form-control form-control-sm"
                 id="depthId"
                 placeholder="Alto"
                 [ngClass]="{'is-invalid': depth.invalid && (depth.dirty || depth.touched)}"
                 formControlName="depth">
          <div *ngIf="depth.invalid && (depth.dirty || depth.touched)">
            <div class="text-danger small" *ngIf="depth.errors.required">Requerido.</div>
          </div>
        </div>
        <!--TIPO: boxTypeId-->
        <div class="form-group col-sm-2">
          <label for="boxTypeId">Tipo de caja</label>
          <select class="form-control custom-select custom-select-sm"
                  id="boxTypeId"
                  [ngClass]="{'is-invalid': boxTypeId.invalid && (boxTypeId.dirty || boxTypeId.touched)}"
                  formControlName="boxTypeId">
            <option *ngFor="let boxType of $boxesTypes | async" [value]="boxType.code">
              {{boxType.description}}
            </option>
          </select>
          <div *ngIf="boxTypeId.invalid && (boxTypeId.dirty || boxTypeId.touched)">
            <div class="text-danger small" *ngIf="boxTypeId.errors.required">Requerido.</div>
          </div>
        </div>
        <div class="form-group col-sm-2">
          <br>
          <button type="button"
                  class="btn btn-primary"
                  (click)="createBudget()">
            Cotizar
          </button>
        </div>
      </div>
      <div class="form row" *ngIf="showAll">
        <div class="form-group col-sm-2">
          <label for="boxTypeId">Área Lamina: {{areaLamina}}</label>
        </div>
        <div class="form-group col-sm-2">
          <label for="boxTypeId">P. Copamex: {{pcomparmex | currency}}</label>
        </div>
        <div class="form-group col-sm-2">
          <label for="boxTypeId">P. Minímo: {{pMininmo | currency}}</label>
        </div>
        <div class="form-group col-sm-2">
          <label for="boxTypeId">P. Maquila: {{pMaquila | currency}}</label>
        </div>
        <div class="form-group col-sm-2">
          <label for="boxTypeId">P. Venta: {{pVenta | currency}}</label>
        </div>
      </div>
    </form>
    <div class="form row" *ngIf="showAll">
      <div class="form-group col-sm-6">
        <p class="text-primary">Bancadas Proveedores</p>

        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Proveedor</th>
            <th scope="col">Largo</th>
            <th scope="col">Alto</th>
            <th scope="col">Min m2</th>
            <th scope="col">Costo Millar</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of bancadasProvee; index as i">
            <th scope="row">
              <input type="radio" value="" name="proveedorId">
            </th>
            <td>{{ p.nombre }}</td>
            <td>Min: {{ p.lMin | number }} Max: {{p.lMax | number }}</td>
            <td>Min: {{ p.aMin | number }} Max: {{p.aMax | number }}</td>
            <td>{{ p.minM2 | number }}</td>
            <td>
              {{p.costMillar | currency}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="form-group col-sm-6">
        <p class="text-primary">Bancadas Maquinas</p>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Maquina</th>
            <th scope="col">Minimo</th>
            <th scope="col">Maximo</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let maq of bancadasMaq; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ maq.nombre }}
            </td>
            <td>{{ maq.min | number }}</td>
            <td>{{ maq.max | number }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
