<form novalidate
      autocomplete="off"
      [formGroup]="employeesForm">
  <div class="form-row">
    <!--POSICIÓN DE TRABAJO / JOBPOSITION-->
    <div class="form-group col-sm-4">
      <label for="departmentId">Puesto</label>
      <select class="form-control custom-select custom-select-sm"
              id="departmentId"
              [ngClass]="{'is-invalid': departmentId.invalid && (departmentId.dirty || departmentId.touched)}"
              formControlName="departmentId">
        <option value="1">Ventas</option>
        <option value="2">Caja</option>
        <option value="3">Supervisor</option>
        <option value="3">Gerente</option>
      </select>
      <div *ngIf="departmentId.invalid && (departmentId.dirty || departmentId.touched)">
        <div class="text-danger small" *ngIf="departmentId.errors.required">Requerido.</div>
      </div>
    </div>
    <!--TIENDA-->
    <div class="form-group col-sm-4">
      <label for="storeId">Compañía</label>
      <select class="form-control custom-select custom-select-sm"
              id="storeId"
              [ngClass]="{'is-invalid': storeId.invalid && (storeId.dirty || storeId.touched)}"
              formControlName="storeId">
        <option value="1">Compañía A</option>
        <option value="2">Compañía B</option>
        <option value="3">Compañia C</option>
      </select>
      <div *ngIf="storeId.invalid && (storeId.dirty || storeId.touched)">
        <div class="text-danger small" *ngIf="storeId.errors.required">Requerido.</div>
      </div>
    </div>
    <!--ELEGIR SEXO -->
    <div class="form-group col-sm-4">
      <label>Sexo</label>
      <div class="btn-group btn-group-toggle d-flex" ngbRadioGroup name="radioBasic" formControlName="sex">
        <label ngbButtonLabel class="btn-light btn-sm w-100">
          <input ngbButton type="radio" value="m">Masculino
        </label>
        <label ngbButtonLabel class="btn-light btn-sm w-100">
          <input ngbButton type="radio" value="f">Femenino
        </label>
      </div>
    </div>
    <!--NOMBRE DE EMPLEADO-->
    <div class="form-group col-sm-4">
      <label for="namesId">Nombre</label>
      <input type="text"
             class="form-control form-control-sm"
             id="namesId"
             placeholder="Nombre"
             [ngClass]="{'is-invalid': names.invalid && (names.dirty || names.touched)}"
             formControlName="names">
      <div *ngIf="names.invalid && (names.dirty || names.touched)">
        <div class="text-danger small" *ngIf="names.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="names.errors.pattern">No caracteres especiales</div>
        <div class="text-danger small" *ngIf="names.errors.minlength">Mínimo {{charactersMinName}} caracteres.</div>
        <div class="text-danger small" *ngIf="names.errors.maxlength">Máximo {{charactersMaxName}} caracteres.</div>
      </div>
    </div>
    <!--APELLIDOS DE EMPLEADO-->
    <div class="form-group col-sm-4">
      <label for="lastNamesId">Apellidos</label>
      <input type="text"
             class="form-control form-control-sm"
             id="lastNamesId"
             placeholder="Apellidos"
             [ngClass]="{'is-invalid': lastNames.invalid && (lastNames.dirty || lastNames.touched)}"
             formControlName="lastNames">
      <div *ngIf="lastNames.invalid && (lastNames.dirty || lastNames.touched)">
        <div class="text-danger small" *ngIf="lastNames.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="lastNames.errors.pattern">No caracteres especiales</div>
        <div class="text-danger small" *ngIf="lastNames.errors.minlength">Mínimo {{charactersMinName}} caracteres.</div>
        <div class="text-danger small" *ngIf="lastNames.errors.maxlength">Máximo {{charactersMaxName}} caracteres.</div>
      </div>
    </div>
    <!-- FECHA DE NACIMIENTO-->
    <div class="form-group col-sm-4">
      <label for="birdDateId">Fecha de nacimiento</label>
      <input type="date"
             class="form-control form-control-sm"
             id="birdDateId"
             placeholder="Fecha de nacimiento"
             [ngClass]="{'is-invalid': birdDate.invalid && (birdDate.dirty || birdDate.touched)}"
             formControlName="birdDate">
      <div *ngIf="birdDate.invalid && (birdDate.dirty || birdDate.touched)">
        <div class="text-danger small" *ngIf="birdDate.errors.required">Requerido.</div>
      </div>
    </div>
    <!--EMAIL-->
    <div class="form-group col-sm-4">
      <label for="emailId">Email</label>
      <input type="email"
             class="form-control form-control-sm"
             id="emailId"
             placeholder="Email"
             [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}"
             formControlName="email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div class="text-danger small" *ngIf="email.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="email.errors.email">Inválido.</div>
        <div class="text-danger small" *ngIf="email.errors.minlength">Mínimo {{charactersMinEmail}} caracteres.</div>
        <div class="text-danger small" *ngIf="email.errors.maxlength">Máximo {{charactersMaxEmail}} caracteres.</div>
      </div>
    </div>
    <!--TELËFONO-->
    <div class="form-group col-sm-4">
      <label for="phoneId">Teléfono</label>
      <input type="text"
             class="form-control form-control-sm"
             id="phoneId"
             placeholder="Teléfono"
             [ngClass]="{'is-invalid': phone.invalid && (phone.dirty || phone.touched)}"
             formControlName="phone">
      <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
        <div class="text-danger small" *ngIf="phone.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="phone.errors.pattern">Sólo números.</div>
        <div class="text-danger small" *ngIf="phone.errors.minlength">Mínimo {{charactersMinPhone}} dígitos.</div>
        <div class="text-danger small" *ngIf="phone.errors.maxlength">Máximo {{charactersMaxPhone}} dígitos.</div>
      </div>
    </div>
  </div>
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="employeesForm.invalid"
          (click)="addEmployee()">
    Siguiente
  </button>
</form>
<!--<pre *ngIf="employeesForm">{{employeesForm|json}}</pre>-->
<div class="row">
  <div class="col-sm-4">
    [employeesForm.status] <br>
    <pre>{{employeesForm.status|json}}</pre>
  </div>
  <div class="col-sm-4">
    [employeesForm.value] <br>
    <pre>{{employeesForm.value|json}}</pre>
  </div>
  <div class="col-sm-4">
    [employeesForm.valid] <br>
    <pre>{{employeesForm.valid|json}}</pre>
  </div>
</div>

