<form novalidate
      autocomplete="off"
      [formGroup]="materialsMasterForm">
  <div class="form row">
    <!--CIA / COMPAÑÍA-->
    <div class="form-group col-sm-3">
      <app-company-search
        (sendStatusForm)="recipeCompanyStatusForm($event)">
      </app-company-search>
    </div>
    <!--SELECCIONAR CLIENTE-->
    <div class="form-group col-sm-3">
      <app-customers-search
        (sendStatusForm)="recipeCustomersSearchStatusForm($event)">
      </app-customers-search>
    </div>
    <!--VARIACIÓN POSITIVA: variationPositive-->
    <div class="form-group col-sm-3">
      <label for="variationPositiveId">+ % Variación CTE</label>
      <input type="number"
             class="form-control form-control-sm"
             id="variationPositiveId"
             placeholder="+ % Variación CTE"
             [ngClass]="{'is-invalid': variationPositive.invalid && (variationPositive.dirty || variationPositive.touched)}"
             formControlName="variationPositive">
      <div *ngIf="variationPositive.invalid && (variationPositive.dirty || variationPositive.touched)">
        <div class="text-danger small" *ngIf="variationPositive.errors.required">Requerido.</div>
      </div>
    </div>
    <!--VARIACIÓN POSITIVA: variationNegative-->
    <div class="form-group col-sm-3">
      <label for="variationNegativeId">- % Variación CTE</label>
      <input type="number"
             class="form-control form-control-sm"
             id="variationNegativeId"
             placeholder="- % Variación CTE"
             [ngClass]="{'is-invalid': variationNegative.invalid && (variationNegative.dirty || variationNegative.touched)}"
             formControlName="variationNegative">
      <div *ngIf="variationNegative.invalid && (variationNegative.dirty || variationNegative.touched)">
        <div class="text-danger small" *ngIf="variationNegative.errors.required">Requerido.</div>
      </div>
    </div>
    <!-- CLAVE / CODE -->
    <div class="form-group col-sm-3">
      <label for="codeId">Clave</label>
      <input type="text"
             class="form-control form-control-sm"
             id="codeId"
             placeholder="Clave"
             [ngClass]="{'is-invalid': code.invalid && (code.dirty || code.touched)}"
             formControlName="code">
      <div *ngIf="code.invalid && (code.dirty || code.touched)">
        <div class="text-danger small" *ngIf="code.errors.required">Requerido.</div>
      </div>
    </div>
    <!--TIPO: boxTypeId-->
    <div class="form-group col-sm-3">
      <label for="boxTypeId">Tipo</label>
      <select class="form-control custom-select custom-select-sm"
              id="boxTypeId"
              [ngClass]="{'is-invalid': boxTypeId.invalid && (boxTypeId.dirty || boxTypeId.touched)}"
              formControlName="boxTypeId">
        <option value="1">R.R.</option>
        <option value="2">M.R.</option>
        <option value="3">T.Y.F.C.</option>
        <option value="4">SEP</option>
        <option value="5">SUA</option>
        <option value="6">REJ</option>
      </select>
      <div *ngIf="boxTypeId.invalid && (boxTypeId.dirty || boxTypeId.touched)">
        <div class="text-danger small" *ngIf="boxTypeId.errors.required">Requerido.</div>
      </div>
    </div>
    <!--PRECIO DEL VENDEDOR: sellerPrice-->
    <div class="form-group col-sm-3">
      <label for="sellerPriceId">Precio vendedor</label>
      <input type="number"
             class="form-control form-control-sm"
             id="sellerPriceId"
             placeholder="Precio vendedor"
             [ngClass]="{'is-invalid': sellerPrice.invalid && (sellerPrice.dirty || sellerPrice.touched)}"
             formControlName="sellerPrice">
      <div *ngIf="sellerPrice.invalid && (sellerPrice.dirty || sellerPrice.touched)">
        <div class="text-danger small" *ngIf="sellerPrice.errors.required">Requerido.</div>
      </div>
    </div>
    <!--employee: Empleado-->
    <div class="form-group col-sm-3">
      <app-employeess-search
        (sendStatusForm)="recipeEmployeessSearchStatusForm($event)">
      </app-employeess-search>
    </div>
    <!--paperboards: cartones-->
    <div class="form-group col-sm-3">
      <app-paperboards-search
        (sendStatusForm)="recipePaperboardsSearchStatusForm($event)">
      </app-paperboards-search>
    </div>
    <!--description: descripción-->
    <div class="form-group col-sm-3">
      <label for="descriptionId">Artículo</label>
      <input type="text"
             class="form-control form-control-sm"
             id="descriptionId"
             placeholder="Nuestra"
             [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}"
             formControlName="description">
      <div *ngIf="description.invalid && (description.dirty || description.touched)">
        <div class="text-danger small" *ngIf="description.errors.required">Requerido.</div>
      </div>
    </div>

    <!--LARGO / LONG-->
    <div class="form-group col-sm-4">
      <label for="largeId">Largo</label>
      <input type="number"
             class="form-control form-control-sm"
             id="largeId"
             placeholder="Largo"
             [ngClass]="{'is-invalid': large.invalid && (large.dirty || large.touched)}"
             formControlName="large">
      <div *ngIf="large.invalid && (large.dirty || large.touched)">
        <div class="text-danger small" *ngIf="large.errors.required">Requerido.</div>
      </div>
    </div>
    <!--ANCHO / WIDTH-->
    <div class="form-group col-sm-4">
      <label for="widthId">Ancho</label>
      <input type="number"
             class="form-control form-control-sm"
             id="widthId"
             placeholder="Ancho"
             [ngClass]="{'is-invalid': width.invalid && (width.dirty || width.touched)}"
             formControlName="width">
      <div *ngIf="width.invalid && (width.dirty || width.touched)">
        <div class="text-danger small" *ngIf="width.errors.required">Requerido.</div>
      </div>
    </div>
    <!--ALTO / high-->
    <div class="form-group col-sm-4">
      <label for="highId">Alto</label>
      <input type="number"
             class="form-control form-control-sm"
             id="highId"
             placeholder="Alto"
             [ngClass]="{'is-invalid': high.invalid && (high.dirty || high.touched)}"
             formControlName="high">
      <div *ngIf="high.invalid && (high.dirty || high.touched)">
        <div class="text-danger small" *ngIf="high.errors.required">Requerido.</div>
      </div>
    </div>
    <!--OBSERVACIONES / OBSERVATIONS-->
    <div class="form-group col-sm-12">
      <label for="observationsId">Observaciones</label>
      <textarea class="form-control form-control-sm"
                id="observationsId"
                rows="3"
                placeholder="Observaciones"
                [ngClass]="{'is-invalid': observations.invalid && (observations.dirty || observations.touched)}"
                formControlName="observations">
              </textarea>
      <div *ngIf="observations.invalid && (observations.dirty || observations.touched)">
        <div class="text-danger small" *ngIf="observations.errors.required">Requerido.</div>
      </div>
    </div>
    <!--LARGO: large
    <div class="form-group col-sm-4">
      <label for="largeId">Largo</label>
      <input type="number"
             class="form-control form-control-sm"
             id="largeId"
             placeholder="Largo"
             [ngClass]="{'is-invalid': large.invalid && (large.dirty || large.touched)}"
             formControlName="large">
      <div *ngIf="large.invalid && (large.dirty || large.touched)">
        <div class="text-danger small" *ngIf="large.errors.required">Requerido.</div>
      </div>
    </div>
    -->
  </div>

  <!--BOTTON-->
  <!-- TODO => Esta la validación pero como no jalan autocompletes por eso la pongo aquí, cuando los searches ya no manden error al enviar string vacio como parámetro entonces se implementa esta validación, porque al mandar error ya no cacha la forma vaciá, en pocas palabras truena. -->
  <!--[disabled]="materialsMasterForm.invalid"-->
  <button type="submit"
          class="btn btn-primary btn-sm"
          (click)="materialAction()">
    Siguiente
  </button>
</form>

[materialsMaster]<br>
<pre>{{materialsMaster|json}}</pre>

[materialsMasterForm.invalid]<br>
<pre>{{materialsMasterForm.invalid}}</pre>

[statusCompanySearchForm] <br>
<pre>{{statusCompanySearchForm}} {{companyId}}</pre> <br>

[statusCustomersSearchForm] <br>
<pre>{{statusCustomersSearchForm}} {{customerId}}</pre> <br>

[statusPaperboardsSearchForm] <br>
<pre>{{statusPaperboardsSearchForm}} {{paperboardId}}</pre> <br>

[statusEmployeessSearchForm] <br>
<pre>{{statusEmployeessSearchForm}} {{employeeId}}</pre> <br>



