<form novalidate
      autocomplete="off"
      [formGroup]="materialsMasterForm">
  <div class="form row">
    <!--OBSERVACIONES / OBSERVATIONS-->
    <div class="form-group col-sm-12">
      <label for="observationsId">Observaciones</label>
      <textarea class="form-control form-control-sm"
                id="observationsId"
                rows="3"
                placeholder="Observaciones"
                [ngClass]="{'is-invalid': observations.invalid && (observations.dirty || observations.touched)}"
                formControlName="observations">
              </textarea>
      <div *ngIf="observations.invalid && (observations.dirty || observations.touched)">
        <div class="text-danger small" *ngIf="observations.errors.required">Requerido.</div>
      </div>
    </div>
    <!--CIA / COMPAÑÍA-->
    <div class="form-group col-sm-3">
      <app-company-search
        (sendStatusForm)="recipeStatusForm($event)">
      </app-company-search>
    </div>
    <!--SELECCIONAR CLIENTE-->
    <div class="form-group col-sm-3">
      <app-customers-search
        (sendStatusForm)="recipeCustomersSearchStatusForm($event)">
      </app-customers-search>
    </div>
    <!--VARIACIÓN POSITIVA: variationPositive-->
    <div class="form-group col-sm-3">
      <label for="variationPositiveId">+ % Variación CTE</label>
      <input type="number"
             class="form-control form-control-sm"
             id="variationPositiveId"
             placeholder="+ % Variación CTE"
             [ngClass]="{'is-invalid': variationPositive.invalid && (variationPositive.dirty || variationPositive.touched)}"
             formControlName="variationPositive">
      <div *ngIf="variationPositive.invalid && (variationPositive.dirty || variationPositive.touched)">
        <div class="text-danger small" *ngIf="variationPositive.errors.required">Requerido.</div>
      </div>
    </div>
    <!--VARIACIÓN POSITIVA: variationNegative-->
    <div class="form-group col-sm-3">
      <label for="variationNegativeId">- % Variación CTE</label>
      <input type="number"
             class="form-control form-control-sm"
             id="variationNegativeId"
             placeholder="- % Variación CTE"
             [ngClass]="{'is-invalid': variationNegative.invalid && (variationNegative.dirty || variationNegative.touched)}"
             formControlName="variationNegative">
      <div *ngIf="variationNegative.invalid && (variationNegative.dirty || variationNegative.touched)">
        <div class="text-danger small" *ngIf="variationNegative.errors.required">Requerido.</div>
      </div>
    </div>
    <!-- CLAVE / CODE -->
    <div class="form-group col-sm-3">
      <label for="codeId">Clave</label>
      <input type="text"
             class="form-control form-control-sm"
             id="codeId"
             placeholder="Clave"
             [ngClass]="{'is-invalid': code.invalid && (code.dirty || code.touched)}"
             formControlName="code">
      <div *ngIf="code.invalid && (code.dirty || code.touched)">
        <div class="text-danger small" *ngIf="code.errors.required">Requerido.</div>
      </div>
    </div>
  </div>
  <!--BOTTON-->
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="materialsMasterForm.invalid"
          (click)="materialAction()">
    Siguiente
  </button>
</form>

[materialsMasterForm.invalid]<br>
<pre>{{materialsMasterForm.invalid}}</pre>

[this.statusCompanySearchForm] <br>
<pre>{{this.statusCompanySearchForm}}</pre> <br>

[this.statusCustomersSearchForm] <br>
<pre>{{this.statusCustomersSearchForm}}</pre> <br>
