<form novalidate
      autocomplete="off"
      [formGroup]="materialsMasterForm">
  <div class="form row">
    <!--OBSERVACIONES / OBSERVATIONS-->
    <div class="form-group col-sm-12">
      <label for="observationsId">Observaciones</label>
      <textarea class="form-control form-control-sm"
                id="observationsId"
                rows="3"
                placeholder="Observaciones"
                [ngClass]="{'is-invalid': observations.invalid && (observations.dirty || observations.touched)}"
                formControlName="observations">
              </textarea>
      <div *ngIf="observations.invalid && (observations.dirty || observations.touched)">
        <div class="text-danger small" *ngIf="observations.errors.required">Requerido.</div>
      </div>
    </div>
    <!--CIA / COMPAÑÍA-->
    <div class="form-group col-sm-3">
      <app-company-search
        (sendStatusForm)="recipeStatusForm($event)">
      </app-company-search>
    </div>
    <div class="form-group col-sm-3">
      <app-customers-search
        (sendStatusForm)="recipeCustomersSearchStatusForm($event)">
      </app-customers-search>
    </div>
  </div>
  <!--BOTTON-->
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="materialsMasterForm.invalid && statusCompanySearchForm"
          (click)="materialAction()">
    Siguiente
  </button>
</form>

[materialsMasterForm.invalid]<br>
<pre>{{materialsMasterForm.invalid}}</pre>

[this.statusCompanySearchForm] <br>
<pre>{{this.statusCompanySearchForm}}</pre> <br>

[this.statusCustomersSearchForm] <br>
<pre>{{this.statusCustomersSearchForm}}</pre> <br>
