<form novalidate
      autocomplete="off"
      [formGroup]="fiscalDataForm">
  <div class="form-row">
    <!--ELEGIR PERSONA FÍSICA/MORAL-->
    <div class="col-md-12">
      <div class="btn-group btn-group-toggle btn-block" ngbRadioGroup name="radioBasic" formControlName="taxRegime">
        <label ngbButtonLabel class="btn-light btn-sm">
          <input ngbButton type="radio" value="PF">Persona física
        </label>
        <label ngbButtonLabel class="btn-light btn-sm">
          <input ngbButton type="radio" value="PM">Persona moral
        </label>
      </div>
    </div>
    <!--RFC-->
    <div class="form-group col-md-3">
      <label for="rfcId">RFC</label>
      <input type="text"
             class="form-control form-control-sm"
             id="rfcId"
             placeholder="RFC"
             [ngClass]="{'is-invalid': rfc.invalid && (rfc.dirty || rfc.touched)}"
             formControlName="rfc">
      <div *ngIf="rfc.invalid && (rfc.dirty || rfc.touched)">
        <div class="text-danger small" *ngIf="rfc.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="rfc.errors.pattern">Inválido.</div>
      </div>
    </div>
  </div>
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="fiscalDataForm.invalid"
          (click)="fiscalDataAction()">
    Siguiente
  </button>
</form>
<!--
<pre *ngIf="fiscalDataForm">{{fiscalDataForm|json}}</pre>

[fiscalDataForm.value['taxRegime']] <br>
<pre>{{fiscalDataForm.value['taxRegime']}}</pre>

[fiscalDataForm.value['rfc']] <br>
<pre>{{fiscalDataForm.value['rfc']}}</pre>
-->
