<form novalidate
      autocomplete="off"
      [formGroup]="suppliersForm">
  <div class="form-row">
    <!--NOMBRE DE EMPRESA-->
    <div class="form-group col-md-6">
      <label for="nameId">Nombre</label>
      <input type="text"
             class="form-control"
             id="nameId"
             placeholder="Nombre"
             [ngClass]="{'border border-danger danger-focus': name.invalid && (name.dirty || name.touched)}"
             formControlName="name">
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div class="text-danger small" *ngIf="name.errors.required">Requerido</div>
        <div class="text-danger small" *ngIf="name.errors.pattern">No caracteres especiales</div>
        <div class="text-danger small" *ngIf="name.errors.minlength">Mínimo {{charactersMinName}} caracteres</div>
        <div class="text-danger small" *ngIf="name.errors.maxlength">Máximo {{charactersMaxName}} caracteres</div>
      </div>
    </div>
  </div>
  <button type="submit"
          class="btn btn-primary"
          [disabled]="suppliersForm.invalid"
          (click)="next()">
    Siguiente
  </button>
</form>
