<p>
  sign-up-form works!
</p>
<form [formGroup]="loginForm" (ngSubmit)="signUp()" novalidate class="property-submit-form">
  <div class="form-row">
    <div class="col-sm-12 mb-3">
      <input id="emailId"
             type="email"
             name="email"
             placeholder="Email"
             class="form-control"
             [ngClass]="{'is-invalid': loginForm.get('email').invalid && !loginForm.get('email').pristine}"
             formControlName="email">
      <div class="invalid-feedback"
           *ngIf="loginForm.get('email').errors?.required">
        required
      </div>
      <div class="invalid-feedback"
           *ngIf="loginForm.get('email').errors?.email">
        Invalid
      </div>
    </div>
    <!--PASSWORD-->
    <div class="col-sm-12 mb-3">
      <input id="passwordId"
             type="password"
             name="password"
             placeholder="Password"
             class="form-control"
             [ngClass]="{'is-invalid': loginForm.get('password').invalid && !loginForm.get('password').pristine}"
             formControlName="password">
      <div class="invalid-feedback"
           *ngIf="loginForm.get('password').errors?.required">
        required
      </div>
    </div>
    <!--ALERT-->
    <div class="col-sm-12 mb-3">
      <!-- app-messages></app-messages -->
    </div>
    <!--BUTTON-->
    <div class="col-sm-12 mb-3">
      <button type="submit"
              class="btn btn-primary form-control"
              [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
  </div>
</form>
