<p>
  sign-up-form works!
</p>
<form [formGroup]="signUpForm" (ngSubmit)="signIn()" novalidate class="property-submit-form">
  <!--FIRST NAME-->
  <div class="col-sm-12 mb-3">
    <input id="firstNameId"
           type="text"
           name="firstName"
           placeholder="Nombre(s)"
           class="form-control"
           [ngClass]="{'is-invalid': signUpForm.get('firstName').invalid
           && !signUpForm.get('firstName').pristine}"
           formControlName="firstName">
    <div class="invalid-feedback"
         *ngIf="signUpForm.get('firstName').errors?.required">
      required
    </div>
  </div>
  <!--LAST NAME-->
  <div class="col-sm-12 mb-3">
    <input id="lastNameId"
           type="text"
           name="lastName"
           placeholder="Apellido(s)"
           class="form-control"
           [ngClass]="{'is-invalid': signUpForm.get('lastName').invalid
           && !signUpForm.get('lastName').pristine}"
           formControlName="lastName">
    <div class="invalid-feedback"
         *ngIf="signUpForm.get('lastName').errors?.required">
      required
    </div>
  </div>
  <!--EMAIL-->
  <div class="col-sm-12 mb-3">
    <input id="emailId"
           type="email"
           name="email"
           placeholder="Email"
           class="form-control"
           [ngClass]="{'is-invalid': signUpForm.get('email').invalid && !signUpForm.get('email').pristine}"
           formControlName="email">
    <div class="invalid-feedback"
         *ngIf="signUpForm.get('email').errors?.required">
      required
    </div>
    <div class="invalid-feedback"
         *ngIf="signUpForm.get('email').errors?.email">
      Invalid
    </div>
  </div>
  <!--ALERT-->
  <div class="col-sm-12 mb-3">
    <!-- app-messages></app-messages -->
  </div>
  <!--BUTTON-->
  <div class="col-sm-12 mb-3">
    <button type="submit"
            class="btn btn-primary form-control"
            [disabled]="signUpForm.invalid">
      Login
    </button>
  </div>
</form>
