<form novalidate
      autocomplete="off"
      [formGroup]="directionsForm">
  <div class="form-row">
    <div class="form-group col-sm-2">
      <label for="streetId">Calle</label>
      <input type="text"
             class="form-control form-control-sm"
             id="streetId"
             placeholder="Calle"
             [ngClass]="{'is-invalid': street.invalid && (street.dirty || street.touched)}"
             formControlName="street">
      <div *ngIf="street.invalid && (street.dirty || street.touched)">
        <div class="text-danger small" *ngIf="street.errors.required">Requerido.</div>
      </div>
    </div>
    <!--CITY-->
    <div class="form-group col-sm-2">
      <label for="cityId">Ciudad</label>
      <input type="text"
             class="form-control form-control-sm"
             id="cityId"
             placeholder="Ciudad"
             [ngClass]="{'is-invalid': city.invalid && (city.dirty || city.touched)}"
             formControlName="city">
      <div *ngIf="city.invalid && (city.dirty || city.touched)">
        <div class="text-danger small" *ngIf="city.errors.required">Requerido.</div>
      </div>
    </div>
    <!--state-->
    <div class="form-group col-sm-2">
      <label for="stateId">Estado</label>
      <input type="text"
             class="form-control form-control-sm"
             id="stateId"
             placeholder="Estado"
             [ngClass]="{'is-invalid': state.invalid && (state.dirty || state.touched)}"
             formControlName="state">
      <div *ngIf="state.invalid && (state.dirty || state.touched)">
        <div class="text-danger small" *ngIf="state.errors.required">Requerido.</div>
      </div>
    </div>
    <!--stateCode-->
    <div class="form-group col-sm-2">
      <label for="stateCodeId">Código postal</label>
      <input type="text"
             class="form-control form-control-sm"
             id="stateCodeId"
             placeholder="Código postal"
             [ngClass]="{'is-invalid': stateCode.invalid && (stateCode.dirty || stateCode.touched)}"
             formControlName="stateCode">
      <div *ngIf="stateCode.invalid && (stateCode.dirty || stateCode.touched)">
        <div class="text-danger small" *ngIf="stateCode.errors.required">Requerido.</div>
      </div>
    </div>
    <!--colony-->
    <div class="form-group col-sm-2">
      <label for="colonyId">Colonia</label>
      <input type="text"
             class="form-control form-control-sm"
             id="colonyId"
             placeholder="Colonia"
             [ngClass]="{'is-invalid': colony.invalid && (colony.dirty || colony.touched)}"
             formControlName="colony">
      <div *ngIf="colony.invalid && (colony.dirty || colony.touched)">
        <div class="text-danger small" *ngIf="colony.errors.required">Requerido.</div>
      </div>
    </div>
    <!--zipCode-->
    <div class="form-group col-sm-2">
      <label for="zipCodeId">Código postal</label>
      <input type="text"
             class="form-control form-control-sm"
             id="zipCodeId"
             placeholder="Código postal"
             [ngClass]="{'is-invalid': zipCode.invalid && (zipCode.dirty || zipCode.touched)}"
             formControlName="zipCode">
      <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)">
        <div class="text-danger small" *ngIf="zipCode.errors.required">Requerido.</div>
      </div>
    </div>
    <!--numExt-->
    <div class="form-group col-sm-2">
      <label for="numExtId">Num. ext.</label>
      <input type="text"
             class="form-control form-control-sm"
             id="numExtId"
             placeholder="Num. ext."
             [ngClass]="{'is-invalid': numExt.invalid && (numExt.dirty || numExt.touched)}"
             formControlName="numExt">
      <div *ngIf="numExt.invalid && (numExt.dirty || numExt.touched)">
        <div class="text-danger small" *ngIf="numExt.errors.required">Requerido.</div>
      </div>
    </div>
    <!--numInt-->
    <div class="form-group col-sm-2">
      <label for="numIntId">Num. int.</label>
      <input type="text"
             class="form-control form-control-sm"
             id="numIntId"
             placeholder="Num. int."
             [ngClass]="{'is-invalid': numInt.invalid && (numInt.dirty || numInt.touched)}"
             formControlName="numInt">
      <div *ngIf="numInt.invalid && (numInt.dirty || numInt.touched)">
        <div class="text-danger small" *ngIf="numInt.errors.required">Requerido.</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"> <!--[disabled]="materialsMasterForm.invalid"-->
      <!-- TODO => Esta la validación pero como no jalan autocompletes por eso la pongo aquí, cuando los searches ya no manden error al enviar string vacio como parámetro entonces se implementa esta validación, porque al mandar error ya no cacha la forma vaciá, en pocas palabras truena. -->
      <button type="submit"
              class="btn btn-primary btn-sm float-right"
              [disabled]="directionsForm.invalid"
              (click)="next()">
        Siguiente
      </button>
    </div>
  </div>
</form>
<!--<pre *ngIf="directionsForm">{{directionsForm|json}}</pre>-->
