<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <br>
  <img class="card-img-top" src="../../../../assets/logo-sidebar.jpg" alt="Card image cap">
  <div class="list-group">
    <div class="nested-menu" *ngFor="let item of menu">
      <a class="list-group-item" (click)="addExpandClass(item.name)">
        <span><i class="{{item.icon}}"></i> {{item.name}}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === item.name">
        <ul class="submenu">
          <li *ngFor="let subItem of item.subMenu">
            <a [routerLink]="subItem.url"
               [routerLinkActive]="['router-link-active']"
               class="list-group-item">
              {{subItem.subName}}
            </a>
          </li>
        </ul>
      </li>
    </div>
  </div>
</nav>
