<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div class="list-group">
    <div class="nested-menu" *ngFor="let item of menu">
      <a class="list-group-item" (click)="addExpandClass(item.name)">
        <span><i class="{{item.icon}}"></i> {{item.name}}</span>
      </a>
      <li class="nested" [class.expand]="showMenu === item.name">
        <ul class="submenu">
          <li *ngFor="let subItem of item.subMenu">
            <a [routerLink]="subItem.url"
               [routerLinkActive]="['router-link-active']"
               class="list-group-item">
              {{subItem.subName}}
            </a>
          </li>
        </ul>
      </li>
    </div>
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('Materiales')">
        <span><i class="fas fa-box-open"></i> Maestro Materiales</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'Materiales'">
        <ul class="submenu">
          <li>
            <a class="list-group-item" (click)="abreModalAltaMateriales()">Alta</a>
          </li>
        </ul>
      </li>
    </div>
  </div>
</nav>
