<form novalidate
      autocomplete="off"
      [formGroup]="signInForm">
  <div class="form-row">
    <!--EMAIL-->
    <div class="form-group col-md-12">
      <label for="emailId">Email</label>
      <input type="email"
             class="form-control form-control-sm"
             id="emailId"
             placeholder="Email"
             [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}"
             formControlName="email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div class="text-danger small" *ngIf="email.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="email.errors.email">Inválido</div>
        <div class="text-danger small" *ngIf="email.errors.minlength">Mínimo {{charactersMin}} caracteres.</div>
        <div class="text-danger small" *ngIf="email.errors.maxlength">Máximo {{charactersMax}} caracteres.</div>
      </div>
    </div>
    <!--PASSWORD-->
    <div class="form-group col-md-12">
      <label for="passwordId">Password</label>
      <input type="password"
             class="form-control form-control-sm"
             id="passwordId"
             placeholder="Password"
             [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}"
             formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div class="text-danger small" *ngIf="password.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="password.errors.pattern">No caracteres especiales</div>
        <div class="text-danger small" *ngIf="password.errors.minlength">Mínimo {{charactersMin}} caracteres.</div>
        <div class="text-danger small" *ngIf="password.errors.maxlength">Máximo {{charactersMax}} caracteres.</div>
      </div>
    </div>
  </div>
  <!--
  <div class="form-group col-sm-6">
    <app-messages></app-messages>
  </div>
  -->
  <button type="submit"
          class="btn btn-primary btn-sm"
          routerLink="/layout/orders/create"
          [disabled]="signInForm.invalid"
          (click)="signInAction()">
    Siguiente
  </button>
</form>
