<form [formGroup]="signInForm" novalidate class="property-submit-form" autocomplete="off">
  <div class="form-row">
    <div class="col-sm-12 mb-3">
      <input id="emailId"
             type="email"
             name="email"
             placeholder="Email"
             class="form-control custom-select custom-select-sm"
             [ngClass]="{'is-invalid': signInForm.get('email').invalid && !signInForm.get('email').pristine}"
             formControlName="email">
      <div class="invalid-feedback"
           *ngIf="signInForm.get('email').errors?.required">
        required
      </div>
      <div class="invalid-feedback"
           *ngIf="signInForm.get('email').errors?.email">
        Invalid
      </div>
    </div>
    <!--PASSWORD-->
    <div class="col-sm-12 mb-3">
      <input id="passwordId"
             type="password"
             name="password"
             placeholder="Password"
             class="form-control custom-select custom-select-sm"
             [ngClass]="{'is-invalid': signInForm.get('password').invalid && !signInForm.get('password').pristine}"
             formControlName="password">
      <div class="invalid-feedback"
           *ngIf="signInForm.get('password').errors?.required">
        required
      </div>
    </div>
    <!--ALERT-->
    <div class="col-sm-12 mb-3">
      <!-- app-messages></app-messages -->
    </div>
    <!--BUTTON-->
    <div class="col-sm-12 mb-3">
      <button type="submit"
              routerLink="/layout/orders/create"
              class="btn btn-primary btn-sm">
        Login
      </button>
    </div>
  </div>
</form>
