<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <h1 class="logo-name">
      <img class="card-img-top" src="../../assets/LOGO COMPERMEX.png" alt="Card image cap">
    </h1>
  </div>
  <p>Iniciar sesión.</p>
  <form novalidate
        autocomplete="off"
        [formGroup]="signInForm">
    <div class="form-group">
      <input type="text"
             class="form-control form-control-sm"
             id="usernameId"
             placeholder="Nombre de usuario"
             [ngClass]="{'is-invalid':username.invalid && (username.dirty ||username.touched)}"
             formControlName="username">
      <div *ngIf="username.invalid && (username.dirty ||username.touched)">
        <div class="text-danger small" *ngIf="username.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="username.errors.minlength">Mínimo {{charactersMin}} caracteres.</div>
        <div class="text-danger small" *ngIf="username.errors.maxlength">Máximo {{charactersMax}} caracteres.</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password"
             class="form-control form-control-sm"
             id="passwordId"
             placeholder="Contraseña"
             [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}"
             formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div class="text-danger small" *ngIf="password.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="password.errors.pattern">No caracteres especiales</div>
        <div class="text-danger small" *ngIf="password.errors.minlength">Mínimo {{charactersMin}} caracteres.</div>
        <div class="text-danger small" *ngIf="password.errors.maxlength">Máximo {{charactersMax}} caracteres.</div>
      </div>
    </div>
    <p *ngIf="loginIncorrecto">
      <ngb-alert
        [type]="'danger'"
        [dismissible]="false">
        <strong>¡Error!</strong> Usuario Y/o contraseña incorrecto.
      </ngb-alert>
    </p>
    <button type="submit"
            class="btn btn-primary block full-width m-b btn-sm"
            [disabled]="signInForm.invalid"
            (click)="signInAction()">
      Entrar
    </button>
    <a href="#">
      <small>Olvidé mi password</small>
    </a>
  </form>
  <p class="m-t">
    <small>Sistema COMPERMEX &copy; 2018</small>
  </p>
</div>

