<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="far fa-handshake"></i> <span class="nav-label">Compras</span> <span
          class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/compras/list']">Lista</a>
          </li>
        </ul>
      </li>
      <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-users"></i> <span class="nav-label">Empleados</span> <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/employees/list']">Lista</a>
          </li>
        </ul>
      </li>
      <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-users"></i> <span class="nav-label">Proveedores</span> <span
          class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/suppliers/list']">Lista</a>
          </li>
        </ul>
      </li>
      <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span class="nav-label">Alta Orden</span> <span
          class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/orders/create']">Lista</a>
          </li>
        </ul>
      </li>
      <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span class="nav-label">Maestro materiales</span> <span
          class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/materials/create']">Lista</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<style>
  .side-bar-by-hector {
    margin-top: 25px; /* TODO => Estilo temporal que aliviana al sidebar*/
    background-color: transparent !important;
    padding: 0px;
  }
  li.side-bar-by-hector {
    background-color: transparent !important;
  }

  .side-bar-by-hector:active {
    background-color: transparent !important;
  }

  a:hover {
    opacity: 100;
    background-color: transparent !important;
  }

  a:active {
    opacity: 100 !important;
    background-color: transparent !important;
  }

  .nav > li.active {
    border-left: 4px solid #19aa8d;
    /*background: transparent !important;*/
  }



</style>
