<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="profile-element" dropdown>
          <img alt="image" class="img-circle" src="assets/logo.png">
          <a dropdownToggle>
            <span class="block m-t-xs"> <strong class="font-bold">COMPERMEX</strong> </span>
            <span class="text-muted text-xs block">Compañía <b class="caret"></b> </span>
          </a>
          <ul class="animated fadeInRight dropdown-menu" *dropdownMenu>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
        <li [hidden]="area.description != 'administrador'" class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
          <a href="#"><i class="fas fa-users"></i>
            <span class="nav-label">Empleados</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span class="fas fa-angle-right"></span></a>
          <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
            <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
              <a [routerLink]="['/layout/employees/list']">Lista</a>
            </li>
            <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
              <a [routerLink]="['/layout/employees/add']">Agregar</a>
            </li>
          </ul>
        </li>

      <li [hidden]="area.description != 'administrador'" class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-building"></i>
          <span class="nav-label">Proveedores</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fas fa-angle-right"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/suppliers/list']">Lista</a>
          </li>
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/suppliers/add']">Agregar</a>
          </li>
        </ul>
      </li>
      <li [hidden]="area.description != 'administrador'" class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-th"></i>
          <span class="nav-label">Clientes</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fas fa-angle-right"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/customers/list']">Lista</a>
          </li>
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/customers/add']">Agregar</a>
          </li>
        </ul>
      </li>
      <li [hidden]="area.description != 'administrador'" class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-file-invoice-dollar"></i>
          <span class="nav-label">Órdenes</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fas fa-angle-right"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/orders/list']">Lista</a>
          </li>
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/orders/add']">Crear</a>
          </li>
        </ul>
      </li>
      <li [hidden]="area.description != 'administrador'" class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-box-open"></i>
          <span class="nav-label">Materiales</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fas fa-angle-right"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <!-- li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/materials/list']">Lista</a>
          </li -->
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/materials/add']">Crear Carton</a>
          </li>
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/materials/addMaterial']">Crear Caja</a>
          </li>
        </ul>
      </li>
      <!-- TODO => Esta navegación se tiene que repensar
      <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-file-invoice-dollar"></i>
          <span class="nav-label">Cartones</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fas fa-angle-right"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/cardboards/list']">Lista</a>
          </li>
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/cardboards/add']">Crear</a>
          </li>
        </ul>
      </li>
      -->
      <li [hidden]="area.description != 'recepcion'" class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-redo"></i>
          <span class="nav-label">Recepción</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fas fa-angle-right"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/reception/list']">Lista</a>
          </li>
        </ul>
      </li>
      <li [hidden]="area.description != 'produccion'" class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-cogs"></i>
          <span class="nav-label">Producción</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fas fa-angle-right"></span> </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/production/list']">Lista</a>
          </li>
        </ul>
      </li>
      <li [hidden]="area.description != 'calidad'"  class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboards')}">
        <a href="#"><i class="fas fa-clipboard-check"></i>
          <span class="nav-label">Calidad</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fas fa-angle-right"></span>
        </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('dashboards')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('dashboard1')}">
            <a [routerLink]="['/layout/quality/list']">Lista</a>
          </li>
        </ul>
      </li>
      <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('budget')}">
        <a href="#"><i class="fas fa-clipboard-check"></i>
          <span class="nav-label">Cotizacion</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="fas fa-angle-right"></span>
        </a>
        <ul class="nav nav-second-level collapse" [ngClass]="{in: activeRoute('budget')}">
          <li class="side-bar-by-hector" [ngClass]="{active: activeRoute('budget')}">
            <a [routerLink]="['/layout/budget']">Crear</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<style>
  .side-bar-by-hector {
    margin-top: 25px; /* TODO => Estilo temporal que aliviana al sidebar*/
  }
</style>
