<label for="clientSearchId">Buscar cliente::</label>
<input id="clientSearchId"
       type="text"
       class="form-control form-control-sm"
       [class.is-invalid]="searchFailed1"
       [(ngModel)]="model"
       [ngbTypeahead]="search"
       placeholder="Buscar compañía"
       [resultFormatter]="resFormatter"
       [inputFormatter]="inFormatter"
       (selectItem)="selectedItem($event)"/>
<span *ngIf="searching">Buscando...</span>
<div class="invalid-feedback" *ngIf="searchFailed1">
  No existe ninguna compañía con ese nombre.
</div>
