<div class="card">
  <div class="card-header">
    Recepción
  </div>
  <div class="card-body">
    <app-reception-search></app-reception-search>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">Proveedor</th>
          <th scope="col">Total productos</th>
          <th scope="col">Mts 3</th>
          <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let saleOrder of salesOrders$ | async; let i = index">
          <th scope="row">Proveedor {{i}}</th>
          <td>{{saleOrder.numTotalProducts}}</td>
          <td>{{saleOrder.cubicMeters}}</td>
          <td><i class="fas fa-file-download" (click)="openModalRecipe(saleOrder)"></i></td>
        </tr>
      </table>
    </div>
  </div>
</div>







