<div class="card">
  <div class="card-header">
    Recepción
  </div>
  <div class="card-body">
    <app-reception-search></app-reception-search>
    <div class="table-responsive">
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">Código lotificación</th>
          <th scope="col">Estatus</th>
          <th scope="col">Fecha</th>
          <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr> <!--*ngFor="let reception of receptions$ | async"-->
          <th scope="row">123CT12312</th>
          <td>Recibida</td>
          <td>2018/11/20</td>
          <td><i class="fas fa-file-download" (click)="openModalRecipe()"></i></td>
        </tr>
        <tr>
          <th scope="row">123CT12313</th>
          <td>Pendiente</td>
          <td>2018/11/19</td>
          <td><i class="fas fa-file-download" (click)="openModalRecipe()"></i></td>
        </tr>
        <tr>
          <th scope="row">123CT12314</th>
          <td>Recibida</td>
          <td>2018/11/18</td>
          <td><i class="fas fa-file-download" (click)="openModalRecipe()"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>







