<form novalidate
      autocomplete="off"
      [formGroup]="materialsForm">
  <div class="form row">
    <div class="form-group col-sm-3">
      <label for="descriptionId">Descipción</label>
      <input type="text"
             class="form-control form-control-sm"
             id="descriptionId"
             placeholder="Descipción"
             [ngClass]="{'is-invalid': description.invalid && (description.dirty || description.touched)}"
             formControlName="description">
      <div *ngIf="description.invalid && (description.dirty || description.touched)">
        <div class="text-danger small" *ngIf="description.errors.required">Requerido.</div>
      </div>
    </div>
  </div>
  <!--BOTTON-->
  <button type="submit"
          class="btn btn-primary btn-sm"
          [disabled]="materialsForm.invalid"
          (click)="materialAction()">
    Siguiente
  </button>
</form>
<!--<pre *ngIf="materialsForm">{{materialsForm|json}}</pre>-->
