<form novalidate
      autocomplete="off"
      [formGroup]="fiscalDataForm">
  <div class="form-row">
    <!--ELEGIR PERSONA FÍSICA/MORAL-->
    <div class="form-group col-sm-3">
      <label>Persona</label>
      <div class="btn-group btn-group-toggle d-flex" ngbRadioGroup name="radioBasic" formControlName="taxRegime">
        <label ngbButtonLabel class="btn-light btn-sm w-100">
          <input ngbButton type="radio" value="PF" (click)="createFiscalDataForm2('fisica')">Física
        </label>
        <label ngbButtonLabel class="btn-light btn-sm w-100">
          <input ngbButton type="radio" value="PM" (click)="createFiscalDataForm2('moral')">Moral
        </label>
      </div>
    </div>
    <!--RFC-->
    <div class="form-group col-sm-3" *ngIf="this.taxRegimeValue !== null">
      <label for="rfcId">RFC</label>
      <input type="text"
             class="form-control form-control-sm"
             id="rfcId"
             placeholder="RFC"
             [ngClass]="{'is-invalid': rfc.invalid && (rfc.dirty || rfc.touched)}"
             formControlName="rfc">
      <div *ngIf="rfc.invalid && (rfc.dirty || rfc.touched)">
        <div class="text-danger small" *ngIf="rfc.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="rfc.errors.pattern">Inválido.</div>
      </div>
    </div>
    <!--BUSINESS NAME = RAZÓN SOCIAL-->
    <div class="form-group col-sm-6" *ngIf="this.taxRegimeValue !== null">
      <label for="businessNameId">Razón social</label>
      <input type="text"
             class="form-control form-control-sm"
             id="businessNameId"
             placeholder="Razón Social"
             [ngClass]="{'is-invalid': businessName.invalid && (businessName.dirty || businessName.touched)}"
             formControlName="businessName">
      <div *ngIf="businessName.invalid && (businessName.dirty || businessName.touched)">
        <div class="text-danger small" *ngIf="businessName.errors.required">Requerido.</div>
        <div class="text-danger small" *ngIf="businessName.errors.pattern">Inválido.</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12"> <!--[disabled]="materialsMasterForm.invalid"-->
      <!-- TODO => Esta la validación pero como no jalan autocompletes por eso la pongo aquí, cuando los searches ya no manden error al enviar string vacio como parámetro entonces se implementa esta validación, porque al mandar error ya no cacha la forma vaciá, en pocas palabras truena. -->
      <button type="submit"
              class="btn btn-primary btn-sm float-right"
              [disabled]="fiscalDataForm.invalid"
              (click)="fiscalDataAction()">
        Siguiente
      </button>
    </div>
  </div>
</form>
<!--
<pre *ngIf="fiscalDataForm">{{fiscalDataForm|json}}</pre>

[fiscalDataForm.value['taxRegime']] <br>
<pre>{{fiscalDataForm.value['taxRegime']}}</pre>

[fiscalDataForm.value['rfc']] <br>
<pre>{{fiscalDataForm.value['rfc']}}</pre>
-->
