<div class="form-group">
  <label for="searchProviderId">Buscar proveedor</label>
  <div class="input-group mb-3">
    <input type="text"
           id="searchProviderId"
           class="form-control form-control-sm"
           placeholder="Buscar proveedor"
           [class.is-invalid]="searchFailed"
           [(ngModel)]="model"
           [ngbTypeahead]="search"
           [resultFormatter]="resFormatter"
           [inputFormatter]="inFormatter">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary btn-sm" type="button">
        <i class="fas fa-plus"
           ngbTooltip="Añadir proveedor"></i>
      </button>
    </div>
  </div>
  <div class="small" *ngIf="searching">Buscando...</div>
  <div class="text-danger small" *ngIf="searchFailed">No encontrado.</div>
</div>

