<div class="form-group">
  <label for="typeahead">Buscar proveedor:</label>
  <input id="typeahead"
         type="text"
         class="form-control"
         [class.is-invalid]="searchFailed"
         [(ngModel)]="model"
         [ngbTypeahead]="search"
         placeholder="Buscar Proveedor"
         [resultFormatter]="resFormatter"
         [inputFormatter]="inFormatter"/>
  <span *ngIf="searching">Buscando...</span>
  <div class="invalid-feedback" *ngIf="searchFailed">
    No existe ningun proveedor con ese nombre.
  </div>
</div>

