<!---AUTOCOMPLETE-ORDER-HEADER-->
<app-order-header></app-order-header>
<!---AUTOCOMPLETE-PROVEEDOR-->
<app-suppliers-search></app-suppliers-search>
<button type="button" class="btn btn-primary" (click)="openModalOrder()">Abrir modal proveedor</button>
<!---AUTOCOMPLETE-CLIENTE-->
<app-clients-search></app-clients-search>
<!---AUTOCOMPLETE-MATERIALES-->
<app-materials-search></app-materials-search>

<h2>Direcciones</h2>
<button type="button" class="btn btn-primary" (click)="openModalDirection()">Abrir modal dirección</button>
