<!--ORDEN FORMA-->
<app-order-form></app-order-form>
<!---AUTOCOMPLETE-ORDER-HEADER-->
<app-order-header></app-order-header>
<!---AUTOCOMPLETE-PROVEEDOR-->
<app-suppliers-search></app-suppliers-search>
<button type="button" class="btn btn-primary btn-sm" (click)="openModalOrder()">Abrir modal proveedor</button>
<!---AUTOCOMPLETE-CLIENTE-->
<app-clients-search></app-clients-search>
<!---AUTOCOMPLETE-MATERIALES-->
<app-materials-search></app-materials-search>
<button type="button" class="btn btn-primary btn-sm" (click)="materialsForm()">Materiales</button> <br>
<button type="button" class="btn btn-primary btn-sm" (click)="directionForm()">Dirección</button> <br>
<button type="button" class="btn btn-primary btn-sm" (click)="fiscalDataPhysicalPersonForm()">Datos fiscales persona física</button> <br>
<button type="button" class="btn btn-primary btn-sm" (click)="fiscalDataMoralPersonForm()">Datos fiscales persona moral</button> <br>
