<!---AUTOCOMPLETE-ORDER-HEADER-->
<app-order-header></app-order-header>
<!---AUTOCOMPLETE-PROVEEDOR-->
<input id="typeahead-template"
       type="text"
       class="form-control"
       [(ngModel)]="model"/>
<app-suppliers-search></app-suppliers-search>
<button type="button" class="btn btn-primary" (click)="openModalOrder()">Abrir modal proveedor</button>
<!---AUTOCOMPLETE-CLIENTE-->
<app-clients-search></app-clients-search>
<!---AUTOCOMPLETE-MATERIALES-->
<app-materials-search></app-materials-search>
<button type="button" class="btn btn-primary" (click)="openModalMaterials()">Abrir modal materiales</button>

<h1>OTRAS FORMAS</h1>
<h2>Direcciones</h2>
<button type="button" class="btn btn-primary" (click)="openModalDirection()">Abrir modal dirección</button>
